In [2]:
import jupyter
import pandas as pd

df = pd.read_csv('csvs/First-term.csv')

df.head()

   S/N                SUBJECT  TOTAL
0    1       ENGLISH LANGUAGE     80
1    2            MATHEMATICS     87
2    3  AGRICULTURAL  SCIENCE     80
3    4        CIVIC EDUCATION     79
4    5              CHEMISTRY     80

In [2]:
df_selected = df['SUBJECT']
df_selected

0         ENGLISH LANGUAGE
1              MATHEMATICS
2    AGRICULTURAL  SCIENCE
3          CIVIC EDUCATION
4                CHEMISTRY
5                  PHYSICS
6                ECONOMICS
7                    CISCO
8          DATA PROCESSING
9                  BIOLOGY
Name: SUBJECT, dtype: object

In [ ]:
from sqlalchemy.orm import Session
from models import Subjects
from database import engine
import pandas as pd


session = Session(bind=engine)

# Iterate through the DataFrame and update the 'subject' column in the 'Subjects' table
for index, row in df_selected.iterrows():
    # Query the subject by subject_id (or whichever column you're using as an identifier)
    subject_record = session.query(Subjects).filter(Subjects.id == row['subject_id']).first()

    if subject_record:
        # Update the subject name with the new value from df_selected
        subject_record.subject = row['subject']

session.commit()
session.close()

print("Subjects table updated successfully!")

In [1]:
import psycopg2
import os

conn = psycopg2.connect(os.getenv('SQLALCHEMY_DATABASE_URL'))
print('Connected to DB successfully')